.tamanho-imagem {
    width: 1500px;
    height: 300px;
    margin-bottom: 50px;   
}

.texto1 {

}

.texto2 {

}

.img1{
    width: 1500px;
    height: 333px;   
}

.img2{
    width: 1500px;
    height: 333px;   
}

.img3{
    width: 1500px;
    height: 333px;   
}

