/* .navbar-color{
    background-color: #00ced1;
    margin-bottom: 20px;
} */

.logo-nome{
    margin-left: -80px;
    margin-right: 52px;
}

.logo-img{
    height: 50px;
    width: 150px;
    margin-left: -110px;
    margin-right: 55px;
}